<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!-- Encodage de la page -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Titre de la page -->

    <title>HETICTIME - Gérer votre temps plus facilement !</title> 

    <!-- Balises meta : contenu SEO -->

    <meta name="description" content="HETICTIME : gestion du temps à HETIC, votre calendrier tout beau tout neuf">
    <meta name="keywords" content="hetic,time,temps,calendrier">
    <meta name="author" content="Victor Renard, ...">
    <meta name="copyright" content="HETIC TIME © Copyright 2013" />

    <!-- Balises meta : contenu Facebook -->

    <meta property="og:title" content="HETICTIME - Gérer votre temps plus facilement !" />
    <meta property="og:description" content="HETICTIME : gestion du temps à HETIC, votre calendrier tout beau tout neuf" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />

    <!-- Lien JS & CSS -->

    <link rel="stylesheet" href="public/css/supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="public/css/style.css" type="text/css" media="screen"  />
    <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="public/js/lib/modernizr-2.5.3.min.js"></script>
    <script type="text/javascript" src="public/js/lib/jquery.easing.min.js"></script>
    <script type="text/javascript" src="public/js/lib/supersized.3.2.7.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="public/js/travelr.js"></script>

</head>

<body>

HETIC TIME DASH BOARD

</body>

</html>




